<p id="notice"><%#= notice %></p>
<% x=0 %>
<%#ホームで入力%>
新しいToDoを作成する
<%= render 'form', todo: @todo %>　
<table>

  <tbody>
    <% @todos.each.with_index(1) do |todo,i| %>
      <tr>
        <td><%= todo.content %></td>
        <td>期限:<%=todo.limit %></td>
        <td>作成日:<%=todo.created_at.strftime('%Y/%m/%d') %></td><%#作成日時%>
        <% if todo.status=="undone" %>
        <td><%= button_to "未完了", done_path(todo), method: :post %></td><%#完了ボタン%>
        <% else %>
        <td><%= button_to "完了", done_path(todo), method: :post %></td><%#完了ボタン%>
        <% end %>
        <td><%#= link_to 'Show', todo %></td>
        <td><%= link_to '編集', edit_todo_path(todo) %></td>
        <td><%#= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% x=i %>
    <% end %>
  </tbody>
</table>
<% if x==0 %>
登録されたToDoはございません
<% end %>
<br>




