<!DOCTYPE html>
<html>
  <head>
    <title>Todo2App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <hgroup>
      <h1><%= link_to 'todoリスト', todos_path %></h1>
      <h1><%= link_to '検索', todos_search_path %></h1>
    </hgroup>
    </header>
    <%= yield %>
  </body>
</html>
